{% extends 'main/layout.html' %}

{% block title %}
	<title>О нас</title>
{% endblock %}

{% block content %}
<div class="container my-3 mx-2">
	<p> Наш зоопарк расположен на территории 2 гектаров и разделён на тематические зоны,
		каждая из которых представляет определённый континент или группу животных.
		Вы сможете прогуляться по африканской саванне, увидеть тропический лес Южной Америки,
		познакомиться с жителями полярных регионов и даже заглянуть в подводный мир океанариума.
	</p>

	<p> Мы заботимся о благополучии наших питомцев, создавая для них комфортные условия жизни
		и обеспечивая им качественное питание. Наши сотрудники проводят экскурсии и лекции,
		рассказывая посетителям о повадках и особенностях каждого вида.
	</p>

	<p> Для детей в зоопарке предусмотрены игровые площадки,
		где они могут поиграть и пообщаться с животными. Также у нас есть кафе,
		где можно перекусить и отдохнуть после прогулки.
	</p>

</div>
{% endblock %}

