{% extends 'main/layout.html' %}


{% block title %}
	<title>Зоопарк</title>
{% endblock %}

{% block content %}
{% load static %}
<!--<h1> А вот и {{ caption }}</h1>-->
<div class="container my-3 mx-2">
	<p> Добро пожаловать в наш уникальный и неповторимый зоопарк!
		Здесь вы сможете окунуться в удивительный мир дикой природы,
		насладиться красотой и разнообразием животного мира.
		Мы предлагаем вам познакомиться с более чем 300 видами животных,
		среди которых есть редкие и исчезающие виды.
	</p>
	<br>

		<img src="{% static 'main/img/zoopark1.jpg' %}" alt="zoo" width="100%">

	<br>
	<p>Приходите в наш зоопарк и откройте для себя удивительный мир дикой природы!</p>
</div>

{% endblock %}