{% extends 'main/layout.html' %}

{% block title %}
	<title>Сотрудники</title>
{% endblock %}

{% block content %}
<div class="container my-3 mx-2">
    <p>Директор зоопарка — руководит работой зоопарка, обеспечивает соблюдение всех необходимых норм и правил, а также занимается поиском финансирования.</p>
    <p>Зоолог — изучает и классифицирует животных, находящихся в зоопарке, следит за их здоровьем и размножением, а также проводит научные исследования.</p>
    <p>Ветеринарный врач — осматривает и лечит животных, контролирует их питание и условия содержания, а также проводит профилактические мероприятия для предотвращения заболеваний.</p>
    <p>Работник по уходу за животными — обеспечивает комфортное проживание животных в зоопарке, ухаживает за ними, кормит и чистит вольеры.</p>
</div>
{% endblock %}